---
import StarRating from '../components/StarRating.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <section class="mx-auto max-w-5xl px-6 py-10">
    <h1 class="mb-6 text-center text-4xl font-bold">About</h1>
    <p class="mb-6">
      This is a page dedicated to providing information about the Borderlands games, including
      character builds, game data, and other related content. While build rating might be
      subjective, the goal is to offer well-researched and community-vetted builds to help players
      optimize their gameplay experience. Thus, user feedback and contributions are highly
      encouraged to ensure the content remains relevant and useful.
    </p>

    <p class="mb-6">
      If you have any suggestions or feedback please open a <a
        href="https://github.com/gosferano/borderlands/issues/new"
        target="_blank">GitHub issue</a
      > for discussion.
    </p>

    <h2 class="mb-6 text-center text-3xl font-bold">Build testing and review guidelines</h2>

    <h3 class="mb-6 text-center text-2xl font-bold">Star rating</h3>

    <p class="mb-6">
      Builds are rated on a scale of 0 to 4 stars in two categories: mobbing and bossing. Mobbing
      refers to the build's effectiveness against groups of enemies, while bossing evaluates its
      performance against single, powerful foes. The ratings are determined based on various
      factors, including damage output, survivability, utility, and overall fun factor. A higher
      star rating indicates a more effective and enjoyable build for the respective category.
    </p>

    <p class="mb-6">
      Meaning of the star ratings is as follows:
      <ul>
        <li><StarRating rating={4} max={4} /> - exceptionally good</li>
        <li><StarRating rating={3} max={4} /> - better than average</li>
        <li><StarRating rating={2} max={4} /> - worse than average</li>
        <li><StarRating rating={1} max={4} /> - exceptionally bad</li>
        <li><StarRating rating={0} max={4} /> - unusable</li>
      </ul>
    </p>

    <h3 class="mb-6 text-center text-2xl font-bold">Tagging</h3>

    <p class="mb-6">
      Builds can be tagged with relevant keywords to help categorize and identify their primary
      focus or playstyle. Tags can include character names, specific strategies, or gameplay phases
      such as "leveling" or "endgame." Proper tagging ensures that builds are easily discoverable by
      users searching for specific types of builds or strategies. All tags should be lower case.
    </p>

    <p class="mb-6">
      Here are some rules to follow when tagging builds:
      <ul class="list-disc">
        <li>Always include character name in lowercase</li>
        <li>Always include either `leveling` and/or `endgame`</li>
        <li>Add action skill name</li>
        <li>Add legendary class mode name, if used</li>
        <li>Add notable skill name</li>
        <li>Add notable weapon type or name</li>
      </ul>
    </p>
  </section>
</BaseLayout>
