---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
  <div class="footer-content">
    &copy; {today.getFullYear()} gosferano
    <SocialLinks />
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
  }

  .footer-content {
    display: flex;
    flex-direction: column; /* stack copyright and social links vertically */
    align-items: center; /* center horizontally */
    justify-content: center;
    gap: 1rem; /* spacing between copyright and links */
  }
</style>
