---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
---

<header class="site-header">
  <nav>
    <h2><a href="/borderlands/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/borderlands/">Home</HeaderLink>
      <HeaderLink href="/borderlands/builds">Builds</HeaderLink>
      <HeaderLink href="/borderlands/data">Data</HeaderLink>
      <HeaderLink href="/borderlands/about">About</HeaderLink>
    </div>
    <SocialLinks responsiveHide={true} />
  </nav>
</header>
